<div class="form-container">
  <table id="form-table" class="fluid">
    <colgroup>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <tr>
      <th>
        會議記錄代碼
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="recordCode">
        <div class="display">
          {{datas.recordCode}}
        </div>
        <div class="editable">
          <input class="w-full" pInputText [(ngModel)]="datas.recordCode" type="text" (blur)="unselect()">
        </div>
      </td>

      <th>
        會議編碼
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="code">
        <div class="display">
          {{datas.code}}
        </div>
        <div class="editable">
          <input class="w-full" pInputText [(ngModel)]="datas.code" type="text" (blur)="unselect()">
        </div>
      </td>
      <th>
          異動時間
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="time">
        <div class="display">
          {{datas.time | date:'yyyy-MM-dd hh:mm:ss'}}
        </div>
        <div class="editable">
          <input class="w-full" pInputText [(ngModel)]="datas.time" type="datetime-local" (blur)="unselect()">
        </div>
      </td>
    </tr>

    <tr>
      <th>
        狀態查詢
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="queryStatus">
        <div class="display">
          {{datas.queryStatus}}
        </div>
        <div class="editable">
          <input class="w-full" pInputText [(ngModel)]="datas.queryStatus" type="text" (blur)="unselect()">
        </div>
      </td>

      <th>
        召開狀態
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="heldingStatus">
        <div class="display">
          {{datas.heldingStatus}}
        </div>
        <div class="editable">
          <input class="w-full" pInputText [(ngModel)]="datas.heldingStatus" type="text" (blur)="unselect()">
        </div>
      </td>
      <th>
          異動時間
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="time">
        <div class="display">
          {{datas.time | date:'yyyy-MM-dd hh:mm:ss'}}
        </div>
        <div class="editable">
          <input class="w-full" pInputText [(ngModel)]="datas.time" type="datetime-local" (blur)="unselect()">
        </div>
      </td>
    </tr>

    <tr>
      <th>
        住址
      </th>
      <td colspan="3" app-form-editable [(selectedField)]="selectedField" fieldName="address">
        <div class="display">
          {{datas.address}} 請輸入住址
        </div>
        <div class="editable">
          <input class="w-full" pInputText [(ngModel)]="datas.address" type="text" (blur)="unselect()">
        </div>
      </td>
    </tr>

    <tr>
      <th>
        生日
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="birthday">
        <div class="display">
          {{datas.birthday}}
        </div>
        <div class="editable">
          <input class="w-full" pInputText [(ngModel)]="datas.birthday" type="date" (blur)="unselect()">
        </div>
      </td>

      <th>
        性別
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="gender">
        <div class="display">
          {{datas.gender|formLookup:genderOptions:'label':'value'}}
        </div>
        <div class="editable">
          <ng-container *ngFor="let item of genderOptions">
            <p-radioButton name="gender" [value]="item.value" [(ngModel)]="datas.gender"></p-radioButton>
            <label class="ml-2">{{item.label}}</label>
          </ng-container>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        部門
      </th>
      <td app-form-editable [(selectedField)]="selectedField" fieldName="department">
        <div class="display">
          {{datas.department|formLookup:departments:'label':'value'}}
        </div>
        <div class="editable">
          <p-dropdown styleClass="w-full" [options]="departments" [(ngModel)]="datas.department" optionLabel="label"
            optionValue="value"></p-dropdown>
        </div>
      </td>
    </tr>
  </table>
  {{selectedField}}
  {{datas|json}}
</div>